@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&display=swap');

* {

    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

.main {
    background-image: url(assets.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1200px, 100vw);
    height: 70vh;
    position: relative;
}
body{
    background-color: black;
}

.main .box {
    position: absolute;
    top: 0;
    height: 70vh;
    width: 100%;
    opacity: 0.44;
    background-color: black;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 60vw;
    margin: auto;
    height: 62px;
}

nav svg {
    color: red;
    width: 114px;
    position: relative;
    z-index: 10;
}

nav button {
    position: relative;
    z-index: 10;
}
 

.hero {
    height: 100%;
    font-family: "Martel Sans", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    gap: 23px;
    padding: 30px;
}
.hero> :nth-child(1){
    font-weight: bolder;
    font-size: 48px;
}
.hero> :nth-child(2){
    font-weight: 400;
    font-size: 24px;
}
.hero> :nth-child(3){
    font-weight: 400;
    font-size: 20px;
}
.blue{
    height: 7px;
    background-color: rgb(46,44,44);
}
.btn{
    padding: 3px 8px;
    font-weight: bold;
    color: white;
    background-color: rgba(23, 23, 23,0.5);
    border: 1px solid white;
     border-radius: 4px;
     cursor: pointer;
    
    
}
.btnredsm{
    background-color: red;
    color: white;
       border: 1px solid white;
       border-radius: 4px;
       font-weight: bold;
       padding: 2px;
    
  
     
}
.herobutton{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: calc(8*2px);
    padding: 7px 101px 8px 0px;
}
.btn-red{
    background-color: red;
      padding: 3px 24px;
    font-size: 20px;
    color: white;
    border-radius: 7px;
   
}
.main input{
      padding: 3px 24px;
    font-size: 20px;
    color: white;
     background-color: rgba(23, 23, 23,0.7);
     border: solid rgba(23, 23, 23,0.5);
    
}
.faqbox{
    background-color: gray;
    display: flex;
    padding: 24px;
    max-width: 120vw;
    margin: 34px auto;
    justify-content: space-between;
    cursor: pointer;
    transition: all 1s ease-out;

 }
 .faq{
    background-color: black;
    color: white;
    
 }
 .faq h2{
    text-align: center;
 }
 .faqbox:hover{
    background-color: #bdbdbd;
    
 }
 .faqbox img{
    filter: invert(1);
 }

    
